<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Model</title>

<link rel="stylesheet" href="static/basic.css" type="text/css" /> 
</head>
<body>
    <div id="loginBox">
        <h1>打开新世界</h1>

        <form action="#" method="post">
        	<input type="email" name="emali" placeholder="邮箱"/>
            <input type="text" name="username" placeholder="用户名"/>
            <input type="password" name="password" placeholder="密码"/>
            <button type="submit">确定</button>
        </form>
    </div>
</body>
</html>
